:root{
    --color: #f7b600;;
	--bkcolor: #e6e6e6;;
	--color2: white;
}
*{
	margin: 0;
	padding: 0;
	flex-wrap: wrap;	
}

@media (min-width: 576px) { 

}

@media (min-width: 768px) { 
	.mysidebar{
		display:block!important;
		
		
	}

	
	#botaoMenu{
		visibility: hidden;
	}
	body{
		background-color: var(--bkcolor)!important;
		
	}


#logo {
  color: white;
}
.navbar {
  height: 70px;
}
.nav-item {
  align-items: center;
}

.mudacor{
	color: var(--color);
	padding: 5px;
	outline: none!important;
}

.mudacor:hover{
	color: var(--color2);
	background-color: var(--color)
}

#botaoformulario {
  width: 100%;	
  height: 3em;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#botaoformulario:hover {
	background-color: #BDBDBD ;
}
#form-postagem {
	padding: 15px;
	border-radius: 8px;
	background-color: white;
}
#form-postagem input {
	font-size: 14px;
	height: 35px;
	margin-bottom: 10px;
	width: 50%;
	color: #A4A4A4;
}
#form-postagem input:focus {
	color: black;
}
#form-postagem h2 {
	margin-bottom: 10px;
}
#form-postagem button {
	width: 100px;
	border-radius: 2px;
}

