



:root{
    --color: #f7b600;;
	--bkcolor: #e6e6e6;;
	--color2: white;
}


*{
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	
}

@media (min-width: 576px) { 

}

@media (min-width: 768px) { 
	.mysidebar{
		display:block!important;
		
		
	}

	
	#botaoMenu{
		visibility: hidden;
	}
	body{
		background-color: var(--bkcolor)!important;
		
	}
	main{
		margin-top: 70px!important;
		 margin-left: 25%!important;
		 padding-left: 10px;
		 padding-right: 10px;
	}

	#fotoUsuario{
		height: 120px!important;
		width: 120px!important;
	}

	.foto-animal{
		height: 80px!important;
		width: 80px!important;
	}
}

@media (min-width: 992px) {
   .mysidebar{
	   display:block!important;
   }
   #botaoMenu{
	   visibility: hidden;
   }
   body{
	   background-color: var(--bkcolor)!important;
	
   }
   main{
	   margin-top: 70px!important;
		margin-left: 25%!important;
		padding-left: 10px;
		padding-right: 10px;
   }
}

@media (max-width: 991px) and (min-width: 768px){
a {
	font-size: 15px!important;
}

}

body{
	background-color: var(--bkcolor) ;
	color: var(--color)!important;
	font-family: 'Quicksand', sans-serif!important;
}
.mynavbar{
    background-color: var(--color);
    display: flex;
    flex-direction: row;
    justify-content:  center;
    position:fixed;
    height: 60px;
	width: 100%;
	z-index: 1000;
	
}
#botaoMenu{
	border: none;
	padding: none;
	margin-bottom: 40px;
}
#menu{
	position: absolute;
	left: 3%;
	padding: 2px;
}
.logo{
    height: 50px;
    width: 80px;
    padding: 0;
}

.mysidebar{
	
    position: fixed;
    height: 100%!important;
    margin-top: 60px;
	z-index: 1000;
	
	
}

h5{
	margin-top: 0.5rem!important;
	margin-left: 5px;
	margin-right: 5px;
}

.mysidebar li{
	margin-left: 15px;
}

.mudacor{
	color: var(--color);
	padding: 5px;
	outline: none!important;
}

.mudacor:hover{
	color: var(--color2);
	background-color: var(--color)
}

.colocarsub{
	color: var(--color);
	padding: 5px;
	font-size: large;
	text-decoration: none;
}

.colocarsub:hover{
	text-decoration: underline;
	color: var(--color);
}



.button:active, 
 button:active,
.button:focus, 
 button:focus,
.button:hover, 
 button:hover{
    border:none !important;
    outline:none !important;
}

#pawOrange, #pawWhite, #userWhite, #userOrange{
	margin-bottom: 3px;
}


body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
	text-overflow: clip;
	
	
	
}
main{
	margin-top: 60px;
	margin-left: 0px;
	box-sizing: border-box;
}

#fotos-nomes{
	height:45vh;
	background-color: var(--color2);
	width: 100%;
}
	
#backpic{
	width: 100%;
	height: 50%;
	object-fit: cover;
	
}

#fotos-nomes-todos{
	top: 6;
	transform: translateY(-50%);
	margin-left: 5%;
	margin-right: 5%;
	z-index: 2;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
	
}
#fotoUsuario{
	border-radius: 50%;
	height: 100px;
	width: 100px;
	object-fit: cover;
	border: solid white 3px;
}

#fotos-nomes-animais{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.foto-animal{
	border-radius: 50%;
	height: 60px;
	width: 60px;
	object-fit: cover;
	border: solid white 3px;
}

#fotoUsuario:hover {
	-webkit-filter: grayscale(1);
	/* Webkit */
	filter: gray;
	/* IE6-9 */
	filter: grayscale(1);
	/* W3C */
}

.foto-animal:hover {
	-webkit-filter: grayscale(1);
	/* Webkit */
	filter: gray;
	/* IE6-9 */
	filter: grayscale(1);
	/* W3C */
}

#backpic:hover {
	-webkit-filter: grayscale(1);
	/* Webkit */
	filter: gray;
	/* IE6-9 */
	filter: grayscale(1);
	/* W3C */
}

#imageUpload{
	display:none;
}

.botaobicho{
	display: none;
}

#info{
	margin-top: 10px;
	padding: 20px;
	background-color: var(--color2);
}

.lapinho{
	margin-left: -22px;
}

#info p{
	color: black;
}

#info input{
	border: none;
	width: 300px;
	outline: none;
}

#info input:focus, #info input:active{
	border: solid var(--color) 1px;
}